@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel

<h1>my bookstore!</h1>
<br />

@foreach(Book b in Model.Books)
{
    <partial name="BookstoreSummary" model="p" />
}

<div my-page="@Model.PageInfo" page-action="Index"  page-class="style="background-color : red"" page-class-normal="style="background-color : palegreen""></div>